body {
  margin: 0;
  background: black;
  text-align: center;
  color: white;
  font-family: Arial;
}

canvas {
  background: black;
  display: block;
  margin: auto;
}

#scoreBoard {
  margin-top: 10px;
}

#restartBtn {
  display: none;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
